
.icon-check-in:before { content: '\e800'; } /* '' */
.icon-checkout:before { content: '\e801'; } /* '' */
.icon-end-rest:before { content: '\e802'; } /* '' */
.icon-announcements:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-collaborators:before { content: '\e805'; } /* '' */
.icon-configurations:before { content: '\e806'; } /* '' */
.icon-dashboard:before { content: '\e807'; } /* '' */
.icon-logeo:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-reports:before { content: '\e80a'; } /* '' */
.icon-requests:before { content: '\e80b'; } /* '' */
.icon-upgrade-button:before { content: '\e80c'; } /* '' */
.icon-history:before { content: '\e80d'; } /* '' */
.icon-location-pin:before { content: '\e80e'; } /* '' */
.icon-rest:before { content: '\e80f'; } /* '' */
.icon-trash:before { content: '\e810'; } /* '' */
.icon-not-showed:before { content: '\e811'; } /* '' */
.icon-showed:before { content: '\e812'; } /* '' */
.icon-add-collaborator:before { content: '\e813'; } /* '' */
.icon-basic-information:before { content: '\e814'; } /* '' */
.icon-lock-icon:before { content: '\e815'; } /* '' */
.icon-permit-security:before { content: '\e816'; } /* '' */
.icon-absent:before { content: '\e817'; } /* '' */
.icon-approve:before { content: '\e818'; } /* '' */
.icon-deny:before { content: '\e819'; } /* '' */
.icon-employees:before { content: '\e81a'; } /* '' */
.icon-late:before { content: '\e81c'; } /* '' */
.icon-ontime:before { content: '\e81d'; } /* '' */
.icon-location-pin-1:before { content: '\e81e'; } /* '' */
.icon-user:before { content: '\e81f'; } /* '' */
.icon-date-picker:before { content: '\e820'; } /* '' */
.icon-search:before { content: '\e821'; } /* '' */
.icon-announcement-notification:before { content: '\e822'; } /* '' */
.icon-owl:before { content: '\e823'; } /* '' */